## RCP1

In [30]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import numpy as np

In [3]:
PATH='../../../data/RCP/'

In [4]:
table_names = ['train','test']

In [7]:
tables = [pd.read_csv(f'{PATH}{fname}.csv', low_memory=False) for fname in table_names]

In [8]:
for t in tables: display(t.head())

   Feature1  Feature2  Feature3  Feature4  reason_id
0      2219   1768599        67         1        102
1      2219   1768599        67         1        102
2      2219   1768599        67         1        102
3      2219   1768599        67         1        102
4      2219   1768599        67         1        102

   Feature1  Feature2  Feature3  Feature4  reason_id
0       893   1754095        21         3         80
1       893   1754095        21         3         80
2       893   1754095        21         3         80
3       893   1754095        21         3         80
4       893   1754095        21         3         80

In [9]:
train,  test = tables

In [19]:
trn = train.drop(['reason_id'], axis = 1, inplace = False)

In [20]:
val = test.drop(['reason_id'], axis = 1, inplace = False)

In [26]:
y_val = test['reason_id']

In [25]:
y_trn = train['reason_id']

In [27]:
m = RandomForestClassifier(n_estimators=40, max_features=0.99, min_samples_leaf=2,
                          n_jobs=-1, oob_score=True)
m.fit(trn, y_trn);

In [28]:
preds = m.predict(val)
m.score(trn, y_trn), m.score(val, y_val), m.oob_score_

(0.9463075665364702, 0.9867497280727776, 0.9436824416386593)

In [31]:
arr = np.array([[2927,2769237,14,4]])

In [32]:
m.predict(arr)

array([37])