## RCP2

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import numpy as np

In [2]:
PATH='../../../data/RCP/'

In [3]:
table_names = ['train_c','test_c']

In [4]:
tables = [pd.read_csv(f'{PATH}{fname}.csv', low_memory=False) for fname in table_names]

In [5]:
for t in tables: display(t.head())

,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Prediction
0,2652,1758720,2,2,-1,3,1,109
1,2652,1758720,2,2,0,4,0,2
2,2825,1759025,2,2,0,4,0,35
3,16312,1758720,5,4,0,5,0,81
4,16166,1758720,5,4,-1,0,1,109

,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Prediction
0,19764,1768790,2,4,-4.0,0.0,0,35
1,2825,1759025,2,4,-3.0,1.0,1,109
2,3122,1758720,2,3,-4.0,-4.0,1,109
3,2216,1758720,2,3,-3.0,4.0,1,2
4,21236,1752621,5,3,0.0,0.0,0,3

In [8]:
train, test = tables

In [29]:
test = test.fillna(-9999)

In [30]:
trn = train.drop(['Prediction'], axis = 1, inplace = False)

In [31]:
val = test.drop(['Prediction'], axis = 1, inplace = False)

In [32]:
y_val = test['Prediction']

In [33]:
y_trn = train['Prediction']

In [34]:
m = RandomForestClassifier(n_estimators=40, max_features=0.99, min_samples_leaf=2,
                          n_jobs=-1, oob_score=True)
m.fit(trn, y_trn);

In [35]:
preds = m.predict(val)
m.score(trn, y_trn), m.score(val, y_val), m.oob_score_

(0.9230674240553223, 0.672718585762064, 0.9043543515017953)

In [38]:
arr = np.array([[23989,1758720,25,3,0,3,0]])

In [39]:
m.predict(arr)

array([81])